.main {
	min-height: 100vh;
	padding: 4rem 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(180, 180, 201, 0.2);

	button {
		min-width: 80px;
		padding: 5px;
		border-radius: 2px;
		border: 1px solid;
		cursor: pointer;
		transition: transform 200ms ease-in-out;

		&:hover {
			transform: translateY(-2px);
		}
	}

	.title {
		text-decoration: none;
		line-height: 1.15;
		font-size: 4rem;
		margin-bottom: 40px;
	}

	.feed {
		width: 80%;
		max-width: 800px;

		.status {
			padding: 1.5rem;
			border-radius: 10px;
			width: 100%;
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
			background-color: #fff;

			input {
				flex: 1;
				border: 0px;
				outline: none;
				font-size: 1.25rem;
				line-height: 1.5;

				&::placeholder {
					color: rgba(0, 0, 0, 0.2);
				}
			}

			button {
				align-self: flex-end;
				background-color: #29c677;
				color: #fff;
			}
		}

		.card {
			padding: 1.5rem;
			text-align: left;
			color: inherit;
			text-decoration: none;
			border-radius: 10px;
			transition: color 0.15s ease, border-color 0.15s ease;
			border-color: #222;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
			background-color: #fff;

			h2 {
				margin: 0 0 1rem 0;
				font-size: 1.5rem;
			}

			p {
				margin: 0;
				font-size: 1.25rem;
				line-height: 1.5;
				margin-bottom: 20px;
			}

			.btnWrapper {
				display: flex;
				justify-content: flex-end;

				button {
					color: #fff;
					cursor: pointer;

					&:nth-child(1) {
						margin-right: 1rem;
						background-color: #4389f8;
					}

					&:nth-child(2) {
						background-color: #e63146;
					}
				}
			}
		}
	}
}
